<div class="container text-center">
  <form action="/answer" method="GET">
    <div class="form-group">
      <label for="question">Ask your coach anything:</label>
      <div class="d-flex" id='input-question'>
        <input type="text" class="form-control" name="question" id="question">
        <input type="submit" class="form-control btn btn-primary" value="Ask!" id="submit">
      </div>
    </div>
  </form>
</div>

